body{

  background-color:#fff;
}

.header{
  color:#ffa500;
  font-size: 30px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-align: center;
  background: #1c1c1c;
  height: 100px;
  padding-top: 25px;

}
.header .glyphicon{
  color:red;
}

.heading{
text-align: center;

}
.red-devider{
  width: 800px;
  height: 4px;
  background: red;
  margin:0 auto;
  margin-top: 50px;

  }
.row{
  font-style: italic;
  font-family: serif;
  font-size: 15px;
  background-color: black;
  color: green;
  padding-top: 30px;
  border-radius: 15px;
  border: 2px solid red;
  padding-bottom: 30px;
}
.comment{
  color: red;
  font-size: 10px;

}

#contact-form input[type=submit]{

  margin-top: 30px;
  display: block;
  margin:30px auto 0px;

}
.button1{

  color: red;
  border: 1px solid red;
  background: #ffa500;
  width: 100%;
  font-weight: bold;
  transition: all 0.3s ease-in 0s;
  border-radius: 10px;
}
.button1:hover{
  background: #333;
  border-color: blue;
}
